<style type="text/css">
.header_menu_link,.heading .title a,.play-now a{text-decoration:none}.header_menu{display:flex;justify-content:center}.header_menu_link.active{background:#ffbf5a;color:#fafafa;font-weight:700}.header_menu_link{color:#fafafa;height:fit-content;border-radius:8px;font-size:16px;line-height:20px;margin:0 5px 10px 0;padding:8px 15px;text-align:center}.header_menu_link:hover{background:#edeadb}.header_menu_link.active:hover{background:#ffbf5a}
</style> 
